<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/popper/popper.min.js"></script>
	<script src="/js/bootstrap/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" href="/css/index/index.css">
</head>
<body>
{{ content }}
</body>
</html>